<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbX-lnWJwt3YQvfBeQ36OaZI4ayV18AdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>985133492222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blogspot.lightrao.fdtcgChat</string>
	<key>PROJECT_ID</key>
	<string>fdtcg-chat-app-with-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>fdtcg-chat-app-with-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985133492222:ios:111c9d8a8d7a2ef9de42af</string>
</dict>
</plist>